
.sidebar{
  text-align:center;
  padding: 0;
  right: 0;
  top: 8rem;
  width: 13rem;
  height: 40rem;
  background-color: #f1f1f1;
  position: absolute;
  overflow: auto;
  border-width: 2px
}

.sidebar>div:hover{
  border-style: solid;
  border-color: orange;
  border-width: 2px;
}

.board{
  display: grid;
  position: absolute;
  left: 0;
  width: 80rem;
  height: 40rem;
  top: 8rem;
  overflow: auto;
  background: #f1f1f1;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, 12.5rem);
  gap: 1rem;
  grid-template-rows: repeat(3, 12.5rem);
  
}

#post1{
  background: lime;
}

#post2{
  background: skyblue;
}

#post3{
  background: red;
}

#accountinfo{

}