.head{
  display: flex;
  justify-content: space-between;
}

.head>#balance{
  height: 40px;
  background: skyblue;
  border-style: solid;
  border-color: orange;
  border-width: 3px;
  cursor: pointer;
}

.head>#balance:hover{
  box-shadow: 10px 5px 5px pink;
}

.head>#title{
  font-size: 40px;
  border-style: solid;
  border-color: yellow;
  border-width: 3px;
  background: skyblue;
  cursor: pointer;
}

.head>#title:hover{
  box-shadow: 10px 5px 5px pink;
}

.head>#logout{
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  height: 20px;
  background: skyblue;
  cursor: pointer;
}

.head>#logout:hover{
  box-shadow: 10px 5px 5px pink;
}

.sidebar{
  text-align:center;
  padding: 0;
  right: 0;
  top: 8rem;
  width: 13rem;
  height: 40rem;
  background-color: #f1f1f1;
  position: absolute;
  overflow: auto;
  border-width: 2px
}

.sidebar>div:hover{
  border-style: solid;
  border-color: orange;
  border-width: 2px;
}

.board{
  display: grid;
  position: absolute;
  left: 0;
  width: 80rem;
  height: 40rem;
  top: 8rem;
  overflow: auto;
  background: #f1f1f1;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, 12.5rem);
  gap: 1rem;
  grid-template-rows: repeat(3, 12.5rem);
  
}

#post1{
  background: lime;
}

#post2{
  background: skyblue;
}

#post3{
  background: red;
}
